body {
    background: #f4f9ff;
    font-family: Arial;
}

.container {
    width: 600px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #ccc;
}

h1 {
    text-align: center;
    color: #0056b3;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 6px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
}

.kidney-img {
    width: 250px;
    display: block;
    margin: 15px auto;
}

.graph-img {
    width: 95%;
    margin: 10px auto;
    display: block;
}
