body {
    font-family: Arial, sans-serif;
    background: #f2f6fc;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #2c7be5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-box {
    margin-top: 100px;
}
