body {
    font-family: Arial, sans-serif;
    background: #f4f8fb;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #0b5ed7;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

.result-box {
    background: #eef5ff;
}
