<!DOCTYPE html>
<html>
<head>
    <title>CKD Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🩺 Chronic Kidney Disease Detection</h1>
    <p>0 = No / Abnormal | 1 = Yes / Normal</p>

    <form method="POST">
        {% for f in [
        'age','bp','sg','al','su','rbc','pc','pcc','ba','bgr','bu','sc',
        'sod','pot','hemo','pcv','wc','rc','htn','dm','cad','appet','pe','ane'
        ] %}
            <label>{{ f }}</label>
            <input type="number" step="any" name="{{ f }}" required>
        {% endfor %}

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <div class="result">
            <h2>{{ prediction }}</h2>

            {% if image %}
                <img src="{{ url_for('static', filename=image) }}"
                     alt="Kidney Image"
                     class="kidney-img">
            {% endif %}

            <h3>Model Accuracy</h3>
            <img src="{{ url_for('static', filename='accuracy.png') }}"
                 alt="Accuracy Graph"
                 class="graph-img">
        </div>
    {% endif %}
</div>

</body>
</html>
